<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Fill the form:</h1>
  <div class="form-container">
    <form action="">
      <div class="select-field">
        <select name="variants" required>
          <option value="" disabled selected>Choose</option>
          <option> Variant 1</option>
          <option> Variant 2</option>
          <option> Variant 3</option>
        </select>
      </div>

      <div class="email-field">
        <input type="email" required>
      </div>
    </form>

    <button>Submit</button>
  </div>
</body>
</html>